@font-face {
  font-family: "Setofont";
  src: url("../fonts/setofont.ttf");
}
.body {
  width: 1280px;
  margin: 0px;
  background-color: #404040;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Setofont';
  font-size: 25px;
}
.header {
  width: 1280px;
  height: 186px;
  background-color: #000000;
}
.logo {
  margin: 30px 23px 68px 47px;
  float: left;
}
.ul {
  margin: 0;
  padding: 0;
}
.ul>a {
    color: inherit;
    text-decoration: none;
}
.header_li {
  width: 177px;
  height: 73px;
  background-color: #BFBFBF;
  margin: 113px 0px 0px 6px;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 67px;
  font-weight: bold;
}
.header_li:hover {
  background-color: #E5E5E5;
}
.header_li:active {
  background-color: #7F7F7F;
}
.page_title {
    font-size: 30px;
    height: 105px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 58px;
    text-align: left;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.article_first {
  width: 1187px;
  height: 480px;
  margin: 27px 41px 30px 42px;
  padding: 5px;
  background-color: #BFBFBF;
}
.article_first_div1 {
  width: 779px;
  height: 480px;
  float: left;
  position: relative;
}
.article_first_div2 {
  width: 408px;
  height: 239px;
  float: left;
  position: relative;
}
.article_first_img {
  margin: 5px;
  display: block;
}
.article_first_text {
  margin: 0;
  background-color: rgba(64, 64, 64, 0.8);
  color: #FFFFFF;
}
.article_first_text:hover {
  margin: 0;
  background-color: rgba(127, 127, 127, 0.8);
  color: #FFFFFF;
}
.article_first_text_style1 {
  width: 270px;
  height: 94px;
  position: absolute;
  top: 79.3%;
  left: 0.6%;
  text-align: center;
  line-height: 94px;
}
.article_first_text_style2 {
  width: 220px;
  height: 80px;
  position: absolute;
  top: 64.5%;
  left: 1.3%;
  text-align: center;
  line-height: 80px;
}
.article_first_text_cover0 {
  width: 769px;
  height: 470px;
  position: absolute;
  top: 1%;
  left: 0.7%;
  background-color: rgba(255,255,255,0.5);
  display: none;
}
.article_first_text_cover1 {
  width: 398px;
  height: 229px;
  position: absolute;
  top: 2%;
  left: 1.3%;
  background-color: rgba(255,255,255,0.5);
  display: none;
}
.article_first_text_cover2 {
  width: 398px;
  height: 229px;
  position: absolute;
  top: 1.5%;
  left: 1.3%;
  background-color: rgba(255,255,255,0.5);
  display: none;
}
.article_second {
  width: 1189px;
  height: 809px;
  margin: 0px 44px 35px 47px;
}
.article_second_div1 {
  width: 779px;
  height: 809px;
  margin: 0px 39px 0px 0px;
  float: left;
}
.article_second_div1_li {
  width: 164px;
  height: 57px;
  background-color: #BFBFBF;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 57px;
  font-weight: bold;
  border-style: solid;
  border-color: #404040;
  border-width: 1px;
}
.article_second_div1_div {
  width: 779px;
  height: 720px;
  background-color: #E5E5E5;
  float: left;
  border-style: solid;
  border-color: #404040;
  border-width: 1px;
  border-top: none;
  padding-top: 30px;
}
.article_second_div1_content{
  width: 746px;
  height: 71px;
  margin: 3px 17px 16px 16px;
  border-radius: 3px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  background-color: #7E7E7E;
  color: #FFFFFF;
}
.article_second_div1_text{
  height: 71px;
  margin: 0px 0px 0px 47px;
  line-height: 71px;
  float: left;
}
.article_second_div1_time{
  height: 71px;
  margin: 0px 24px 0px 0px;
  line-height: 71px;
  float: right;
}
.article_second_div2 {
  width: 371px;
  height: 809px;
  margin: 0;
  float: left;
}
.article_second_div2_div {
  width: 371px;
  height: 726px;
  padding-top: 24px;
  background-color: #E5E5E5;
  float: left;
  border-style: solid;
  border-color: #404040;
  border-width: 1px;
  border-top: none;
}
.article_second_div2_content{
  width: 315px;
  height: 170px;
  margin: 9px 18px 34px 16px;
  padding: 15px 10px 14px 12px;
  border-radius: 3px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
  background-color: #7E7E7E;
  color: #FFFFFF;
}
.article_second_div2_content_text {
  height: 144px;
}
.article_second_div2_content_time {
  float: right;
}
.article_second_div2_li {
  width: 164px;
  height: 57px;
  background-color: #E5E5E5;
  list-style: none;
  float: left;
  text-align: center;
  line-height: 57px;
  font-weight: bold;
  border-style: solid;
  border-color: #404040;
  border-width: 1px;
}
.footer {
  float: left;
  width: 1280px;
  height: 76px;
  background-color: #000000;
}
.footer_web {
  width: 234px;
  height: 24px;
  margin: 28px 0px 24px 50px;
  color: #FFFFFF;
  float: left;
}
.footer_tel {
  width: 265px;
  height: 24px;
  margin: 28px 55px 24px 0px;
  color: #FFFFFF;
  float: right;
}
.active-click{
  background-color: #E5E5E5;
}
.text_color1 {
  color: #EFBF76;
}
.text_color2 {
  color: #B2E164;
}
.text_color3 {
  color: #E9A1AD;
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
.display_block {
  display: block;
}
.mouse-point {
  cursor: pointer;
}
